  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");


  :root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
        #9b34ef 0%,
        #490cb0 20%,
        transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
        #5516ba,
        rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Quicksand", sans-serif;


    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);

  }

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  /* navbar */
  .menu {
    background: var(--nav-bg-color);
    backdrop-filter: blur(8px);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 16px;
    z-index: 2;
    justify-content: space-between;
    align-items: center;




  }

  .menu__logo {
    max-width: 72px;

  }

  .menu__logo img {
    width: 100%;


  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  a:visited {
    color: var(--text-color);
  }

  .menu__item {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 0;
  }

  .menu>div {
    min-width: 0px;
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

  }

  .menu__item--button {
    margin: 0px;
    padding: 8px 20px;


  }

  .button {
    background-color: var(--tertiary-color);
    border-radius: 100px;
    padding: 8px 24px;


  }

  .header {
    background-color: white;

  }

  .button {
    font-weight: 700;
    padding: 16px 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: var(--tertiary-color);
    cursor: pointer;
    text-decoration: none;



  }

  .button--gradient {
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    transition: background 1s, outline 1s, transform 1s;
    outline: 3px solid transparent;
  }

  .button--gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 3px solid var(--secondary-color);
    transform: scale(1.04);
  }

  .footer div:not(.footer__social) {
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  .footer__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px;
    margin: 0px;
    letter-spacing: 2px;
    transition: color 0.5s;
    font-size: 0.85rem;

  }


  .text--small {
    font-size: 1rem;
    font-weight: 300;

  }

  .footer__legal {

    font-size: 0.75rem;
    margin: 16px 0;
    color: var(--link-color);
  }

  .footer__social {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
  }

  a:focus-visible,button:focus-visible{
    outline: 3px solid var(--secondary-color);
    outline-offset: 4px;
  }

  @media screen and (min-width:481px) {

    .menu {
      padding: 12px 16px;
      flex-direction: row;

    }



  }



  /* Custom Scroll */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }